<div class="container form-background">
  <div class="row align-items-center">
    <div class="col">

      <h1>Edit Event</h1>
      <%= render "form", event: @event %>

    </div>
    <div class="col ">
      <%= image_tag "edit.png", class: "edit-image" %>
    </div>
  </div>
</div>